*{
    margin: 0;
    padding: 0;
    background-color: #21FFF7;
    font-family: fantasy;
}

body{
    display: grid;
    width: 100%;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas: 
    "a a"
    "b c";
    background-color: #FB05FF;
}

.it{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5px;
}

.tyt{
    grid-area: a;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    justify-content: space-between;
}

.left{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.right{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.blg{
    grid-area: b;
    flex-direction: column;

}

.pas{
    grid-area: c;
    margin: 2.5px;
}

.menu{
    height: 500px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.in_s{
    margin-top: 1rem;
    font-size: larger;
    border-radius: 50px;
    height: 40px;
    width: 100px;
}

.in_t{
    border-radius: 20px;
    height: 50px;
    width: 200px;
    font-size: 30px;
}

.in_t2{
    border-radius: 20px;
    height: 50px;
    width: 200px;
    font-size: 30px;
    font-family: monospace;
    font-weight: 600;
}

.in_g{
    font-weight: 900;
    font-size: 35px;
}

.hasz{
    font-weight: 900;
    font-size: larger;
}

p{
    font-size: large;
}

.form_tag{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.images{
    display: none;
    position: absolute;
    background-color: white;
    height: 1000px;
    width: 1000px;
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 37px -13px rgba(0,0,0,1);
    border-radius: 20px;
    margin-left: 5rem;
}

.all{
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 37px -13px rgba(0,0,0,1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.top{
    width: 100%;
}

.bot{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.fa{
    font-size: 50px;
    color: #FF5A00;
    text-shadow: 0px 0px 15px black;
}

.zamknij{
    font-size: 30px;
    height: 50px;
    width: 50px;
}

.non{
    display: none;
}

.post{
    margin-top: 2rem;
    height: 800px;
    width: 800px;
    background-color: #8BB3FC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
}

.zdj_p{
    height: 80%;
    width: 90%;
}

.gif{
    height: 80%;
    width: 90%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zdj_g{
    height: 50%;
    width: 50%;
}

.zdj_gif{
    height: 150px;
    width: 300px;
}

.btn{
    font-size: large;
    font-weight: 600;
    width: 200px;
    height: 75px;
    margin-right: 2rem;
    border-radius: 20px;
}

:hover.btn{
    animation: bgc 10s 10ms infinite;
}

.btn2{
    font-size: large;
    font-weight: 600;
    width: 100px;
    height: 50px;
    margin-left: 1rem;
    border-radius: 20px;
}

:hover.btn2{
    animation: bgc 10s 10ms infinite;
}

.git{
    margin-left: 2rem;
    height: 100px;
    width: 100px;
}

.opis{
    font-size: 35px;
    background-color: #8BB3FC;
    margin-bottom: 0.5rem;
}

.opis_tag{
    font-size: 35px;
    background-color: #8BB3FC;
    margin-right: 0.5rem;
}

.opis_tag_sel{
    margin-top: 100px;
    font-size: 35px;
    background-color: #8BB3FC;
    margin-right: 0.5rem;
}

.o_tag{
    display: flex;
    flex-direction: row;
    font-size: 35px;
    background-color: #8BB3FC;
    margin-bottom: 0.5rem;
}

.strg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: fixed;
}

.sponsor{
    margin-left: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: fixed;
}

.spons{
    display: flex;
    width: 22rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.margines{
    margin-bottom: 2rem;
}

.list_tag{
    margin-top: 1rem;
    width: 150px;
    height: 150px;
    overflow: scroll;
    margin-bottom: 2rem;
}

.tyt_tags{
    font-size: larger;
    margin-bottom: 0.5rem;
}

.lewo{
    margin: auto;
}

@keyframes bgc {
    0%{
        background-color: #21FFF7;
        color: black;
        font-size: 10px;
    }

    25%{
        
        background-color: #0036F0;
        color: white;
        font-size: 15px;
    }

    50%{
        background-color: #FB05FF;
        color: black;
        font-size: 20px;
    }

    75%{
        background-color: #0036F0;
        color: white;
        font-size: 15px;
    }

    100%{
        background-color: #21FFF7;
        color: black;
        font-size: 10px;
    }
}

/* 
        {kolory:
        #FCBE12
        #FF5A00
        #FB05FF
        #0036F0
        #21FFF7} */