*{
    margin: 0;
    padding: 0;
    background-color: #73FBFF;
}

body{
    display: grid;
    width: 100%;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 200px 10fr;
    grid-template-areas: 
    "a a"
    "b c";
    background-color: #F000FC;
}

.it{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5px;
}

.tyt{
    grid-area: a;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    justify-content: space-between;
}

.blg{
    grid-area: b;
    flex-direction: column;

}

.pas{
    grid-area: c;
    margin: 2.5px;
}

.menu{
    height: 500px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.in_s{
    margin-top: 1rem;
    font-size: large;
}

p{
    font-size: large;
}

.form_tag{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    position: fixed;
}

.images{
    display: none;
    position: absolute;
    background-color: white;
    height: 1000px;
    width: 1000px;
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 37px -13px rgba(0,0,0,1);
    border-radius: 20px;
    margin-left: 5rem;
}

.all{
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    background-image: url('1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 37px -13px rgba(0,0,0,1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.top{
    width: 100%;
}

.bot{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: red;
}

.fa{
    font-size: 50px;
    color: #FC690D;
    text-shadow: 0px 0px 15px black;
}

.zamknij{
    font-size: 30px;
    height: 50px;
    width: 50px;
}

.non{
    display: none;
}

.post{
    margin-top: 2rem;
    height: 800px;
    width: 800px;
    background-color: #8BB3FC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10rem;
}

.zdj_p{
    height: 80%;
    width: 90%;
}

.btn{
    font-size: large;
    width: 200px;
    height: 100px;
    margin-right: 2rem;
}

.git{
    margin-left: 2rem;
    height: 100px;
    width: 100px;
}

.opis{
    font-size: 35px;
    background-color: #8BB3FC;
    margin-bottom: 0.5rem;
}

.opis_tag{
    font-size: 35px;
    background-color: #8BB3FC;
    margin-right: 0.5rem;
}

.opis_tag_sel{
    margin-top: 100px;
    font-size: 35px;
    background-color: #8BB3FC;
    margin-right: 0.5rem;
}

.o_tag{
    display: flex;
    flex-direction: row;
    font-size: 35px;
    background-color: #8BB3FC;
    margin-bottom: 0.5rem;
}